# Handle line endings automatically for files detected as text 
# and leave all files detected as binary untouched.
* text=auto


# Never modify line endings of scripts
#*.sh -crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf


# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf
 text=auto eol=lf


# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           text
*.html          text
*.java          text
*.js            text
*.json          text
*.properties    text
*.txt           text
*.xml           text


# These files are binary and should be left untouched
# (binary is macro for -text -diff)
*.class         binary
*.jar           binary
*.gif           binary
*.jpg           binary
*.png           binary
