# Prettyfi 
set colored-stats On
set colored-completion-prefix On

# Completion settings
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-display-width 0
set completion-query-items 1000

# ^C no longer shows on C-c keypress
#set echo-control-characters off

